<div class="container">

  <div>
    <nav-bar admin-role="true"></nav-bar>
  </div>

  <button type="button" class="btn btn-primary" ng-click="vm.userModalOpen()"><i class="glyphicon glyphicon-plus mr10"></i>User</button>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>username</th>
          <th>role</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.userList track by $index">
          <td>{{user.username}}</td>
          <td>{{vm.roles[user.role]}}</td>
          <td>
            <button type="button" name="button" class="btn btn-sm btn-info">
               <i class="glyphicon glyphicon-edit" ng-click="vm.userModalOpen(user, $index)"></i>
            </button>
            <button type="button" name="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle" ng-click="vm.removeUser($index)"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/ng-template" id="addNewUserModal.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">User</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form role="create new user" name="createNewUser">
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" ng-model="vm.username" ng-change="vm.checkUserName(vm.username)"
            class="form-control" id="username" placeholder="username"
            ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" required/>
          <p class="label label-danger" ng-if="vm.usernameError">Username is already taken please select a different name</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ng-model="vm.password" class="form-control" id="password" placeholder="password" min-length="6" required/>
        </div>
        <div class="form-group">
          <label for="status">Role</label>
          <select ng-model="vm.role"
            ng-options="vm.lookupCode as vm.description for vm in vm.roles" required></select>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-disabled="createNewUser.$invalid || vm.usernameError" ng-click="vm.addNewUser()">Save</button>
      <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
  </script>


</div>
